<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Multplication Service - Result</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container-sm col-md-4 my-4">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h3><strong>Result</strong></h3>
			</div>
			<div class="card-body">
				<h4 th:text="${multiplicationModel.calculateProduct}"></h4>
				<a class="btn btn-success" href="/add" role="button">Return</a>
			</div>
		</div>
	</div>
</body>
</html>