<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<title>Multiplication Service - Home</title>
</head>
<body>
	<div class="container-sm mx-auto my-4">
		<div class="jumbotron">
			<h1 class="display-4">Multiplication Service</h1>
			<p class="lead">This is a simple arithmetic multiplication service.</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/add" role="button">Get Started</a>
		</div>
	</div>
</body>
</html>